<div class="container">
    <!-- Introduzione -->
    <div class="row">
        <div class="col s12 m8">
          <div class="card indigo darken-1">
            <div class="card-content white-text">
              <span class="card-title">Software Engineering</span>
              <p>
                Ingegneria del software
				<ul>
					<li> Informatica - Database Engineering </li>
					<li> Sistemi e Reti - Server Rest CRUD </li>
					<li> TPSIT - JSON e Client/Server </li>
					<li> Storia - Prima comunicazione in rete </li>
					<li> Inglese - Web Technologies: SPA using AngularJS </li>
					<li> Italiano - Utilizziamo la piattaforma: Analisi di un testo poetico </li>
				</ul>
              </p>
            </div>
            <div class="card-action">
              <a href="">Presentation</a>
            </div>
          </div>
        </div>
    </div>
			
    <!-- Argomento: informatica -->
    <div class="row">
        <div class="col s12 m8">
          <div class="card teal darken-1">
            <div class="card-content white-text">
              <span class="card-title">Informatica</span>
              <p>
                Database Engineering
                <ul>
                    <li href="" style="color: blue">Progettazione</li>
					<li>Analisi</li>
					<li>Modello concettuale</li>
					<li>Modello ER</li>
					<li>Vincoli di integrità</li>
					<li>Modello relazionale</li>
					<li>Vincoli di integrità referenziale</li>
					<li>Normalizzazione</li>
					<li>Implementazione</li>
                </ul>
              </p>
            </div>
            <div class="card-action">
              <a href="">ER</a>
              <a href="">RELAZIONALE</a>
			  <a href="">SQL</a>
            </div>
          </div>
        </div>
    </div>
</div>